# Install

In [ ]:
pip install kaggle

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kaggle in /usr/local/lib/python3.8/dist-packages (1.5.12)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.8/dist-packages (from kaggle) (8.0.0)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.8/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.8/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.8/dist-packages (from kaggle) (2022.12.7)
Requirement already satisfied: tqdm in /usr/local/lib/python3.8/dist-packages (from kaggle) (4.64.1)
Requirement already satisfied: requests in /usr/local/lib/python3.8/dist-packages (from kaggle) (2.25.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.8/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.8/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests->kaggle) (4.0.0)

#### links : 

https://github.com/narbouk-afk/Predict_student_performance

https://www.kaggle.com/competitions/predict-student-performance-from-game-play

# Import

In [2]:
import pandas as pd

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Data import

## Complete Dataframe

In [4]:
path = '/content/drive/My Drive/Dev/KaggleFDA/'
train = pd.read_csv(path +'train.csv')
target = 'price'
features = [c for c in train.columns if c not in ['id', target]]
train['split'] = 'train'
test = pd.read_csv(path +'test.csv')
test['split'] = 'test'
data = pd.concat([train,test]).reset_index(drop=True)
sub = pd.read_csv(path +'sample_submission.csv')

In [5]:
train_labels =  pd.read_csv(path +'train_labels.csv')

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13177939 entries, 0 to 13177938
Data columns (total 22 columns):
 #   Column          Dtype
---  ------          -----
 0   session_id      int64
 1   index           int64
 2   elapsed_time    int64
 3   event_name      object
 4   name            object
 5   level           int64
 6   page            float64
 7   room_coor_x     float64
 8   room_coor_y     float64
 9   screen_coor_x   float64
 10  screen_coor_y   float64
 11  hover_duration  float64
 12  text            object
 13  fqid            object
 14  room_fqid       object
 15  text_fqid       object
 16  fullscreen      float64
 17  hq              float64
 18  music           float64
 19  level_group     object
 20  split           object
 21  session_level   object
dtypes: float64(9), int64(4), object(9)
memory usage: 2.2+ GB

In [6]:
data.head()

,session_id,index,elapsed_time,event_name,name,level,page,room_coor_x,room_coor_y,screen_coor_x,...,text,fqid,room_fqid,text_fqid,fullscreen,hq,music,level_group,split,session_level
0,20090312431273200,0,0,cutscene_click,basic,0,NaN,-413.991405,-159.314686,380.0,...,undefined,intro,tunic.historicalsociety.closet,tunic.historicalsociety.closet.intro,NaN,NaN,NaN,0-4,train,NaN
1,20090312431273200,1,1323,person_click,basic,0,NaN,-413.991405,-159.314686,380.0,...,"Whatcha doing over there, Jo?",gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,NaN,NaN,NaN,0-4,train,NaN
2,20090312431273200,2,831,person_click,basic,0,NaN,-413.991405,-159.314686,380.0,...,Just talking to Teddy.,gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,NaN,NaN,NaN,0-4,train,NaN
3,20090312431273200,3,1147,person_click,basic,0,NaN,-413.991405,-159.314686,380.0,...,I gotta run to my meeting!,gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,NaN,NaN,NaN,0-4,train,NaN
4,20090312431273200,4,1863,person_click,basic,0,NaN,-412.991405,-159.314686,381.0,...,"Can I come, Gramps?",gramps,tunic.historicalsociety.closet,tunic.historicalsociety.closet.gramps.intro_0_...,NaN,NaN,NaN,0-4,train,NaN

In [7]:
data.shape

(13177939, 22)

# Preprocesing

## Modifications on the data, train test

Modification to make it easier to use the data set

## Tran labels + question column

This bloc is to access the labels with the results more easily

In [8]:
train_labels.shape

(212022, 2)

In [9]:
train_labels_question = train_labels.copy()
train_labels_question[['session_id','question']] = train_labels_question['session_id'].str.split('_', expand=True)
print(train_labels_question)

               session_id  correct question
0       20090312431273200        1       q1
1       20090312433251036        0       q1
2       20090314121766812        1       q1
3       20090314363702160        1       q1
4       20090314441803444        1       q1
...                   ...      ...      ...
212017  22100215342220508        1      q18
212018  22100215460321130        1      q18
212019  22100217104993650        1      q18
212020  22100219442786200        1      q18
212021  22100221145014656        1      q18

[212022 rows x 3 columns]

## Feature engineering (if no DL)

## Missing values

We will have to handle missing values differently according to the type.

In [10]:
print(data.isna().sum())
"""
for clm in data:
  try :
    mean = data[clm].mean()
    data[clm] = data[clm].fillna(mean)
  except : 
    pass
  """

session_id               0
index                    0
elapsed_time             0
event_name               0
name                     0
level                    0
page              12893040
room_coor_x        1036602
room_coor_y        1036602
screen_coor_x      1036602
screen_coor_y      1036602
hover_duration    12176849
text               8369886
fqid               4160871
room_fqid                0
text_fqid          8369832
fullscreen        13177939
hq                13177939
music             13177939
level_group              0
split                    0
session_level     13174211
dtype: int64

'\nfor clm in data:\n  try :\n    mean = data[clm].mean()\n    data[clm] = data[clm].fillna(mean)\n  except : \n    pass\n  '

## Outliers

# Visualization

# Dimension reduction